[Unit]
Description=Stretch Reminder Notification

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send "Stretch Reminder" "Step away from the console!"
