[Unit]
Description=Stretch Reminder Notification

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send --urgency=normal --icon=appointment-soon "Stretch" "Time to stand up and stretch."
