* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font", "Symbols Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
}

#window {
    font-weight: bold;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    font-weight: bold;
    border-top: 2px solid rgb(102, 220, 105);
}

#clock,
#cpu,
#pulseaudio,
#custom-spotify {
    padding: 0 3px;
    margin: 0 5px;
}

#clock {
    font-weight: bold;
}

#pulseaudio {
    color: rgb(102, 220, 105);
}

#pulseaudio.muted {
    color: #888;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}
